@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;700;800&family=Poppins:wght@200;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

.contenedor {
    position: fixed;
    width: 100%;
    height: 100%;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 100px 500px;
    justify-content: space-between;
}

h1 {
    color: #010196;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;

}

h5 {

    margin: 5px;
    font-size: 15px;
    font-weight: lighter;
}

input,
button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    border: 1px solid #384859;
    background-color: gainsboro;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

button {
    text-align: center;
    background: #384859;
    margin-top: 20px;
    color: #FFF;
    margin-bottom: 20px;
    cursor: pointer;
}

hr {
    position: relative;
    float: left;
    width: calc(50% - 40px);
    background: rgba(0, 0, 0, .2);
    height: 1px;
    border: none;
    margin-top: 5px;
}

h6 {
    position: relative;
    float: left;
    width: 80px;
    text-align: center;
    font-size: 11px;
    color: rgba(0, 0, 0, .4);
    margin-bottom: 10px;
}


a {
    text-align: center;
    font-size: 10px;
    color: lightblue;
    text-decoration: none;
    width: 100%;
    position: relative;
    float: left;
    margin-top: 10px;
}